[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JClark54-school
	email = 85632363+JClark54-school@users.noreply.github.com
[core]
	editor = \"C:\\Users\\mshat\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
